<h1>{{btnTitle}}</h1>

<form [formGroup]="formEmployee" (ngSubmit)="submit()" #formDit="ngForm">

  <input type="hidden" formControlName="id">

  <div class="input_box">
    <label id="lblfirstName" for="">First Name</label>
    <input id="firstName" type="text" formControlName="firstName" placeholder="Inform the first name" required>
  </div>

  <div class="input_box">
    <label id="lbllastName" for="">Last Name</label>
    <input id="lastName" type="text" formControlName="lastName" placeholder="Inform the last name" required>
  </div>

  <div class="input_box">
    <label id="lblshift" for="">Shift</label>
    <select id="shift" formControlName="shift" required>
      <option value="Morning">Morning</option>
      <option value="Afternoon">Afternoon</option>
      <option value="Night">Night</option>
    </select>
  </div>

  <div>
    <button type="submit" [disabled]="!formEmployee.valid"> {{btnAction}} </button>

    <button type="button" (click)="goToHome()"> Cancel </button>
  </div>
</form>
