<mat-card>
  <h1>{{btnTitle}}</h1>

  <form [formGroup]="formEmployee" (ngSubmit)="submit()" #formDit="ngForm">

    <input type="hidden" formControlName="id">

    <div class="input_box">
      <mat-form-field class="example-form-field">
        <mat-label for="">First Name</mat-label>
        <input matInput type="text" id="firstName" type="text" formControlName="firstName" placeholder="Inform the first name" required>
      </mat-form-field>
    </div>

    <div class="input_box">
      <mat-form-field class="example-form-field">
        <mat-label for="">Last Name</mat-label>
        <input matInput id="lastName" type="text" formControlName="lastName" placeholder="Inform the last name" required>
      </mat-form-field>
    </div>

    <div class="input-box">
      <mat-form-field>
        <mat-label for="">Choose an Shift</mat-label>
        <mat-select formControlName="shift" required >
          <mat-option value="Morning">Morning</mat-option>
          <mat-option value="Afternoon">Afternoon</mat-option>
          <mat-option value="Night">Night</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="btn-box">
      <button type="submit" [disabled]="!formEmployee.valid" mat-raised-button color="primary" > {{btnAction}} </button>

      <button type="button" (click)="goToHome()" mat-raised-button> Cancel </button>
    </div>
  </form>
</mat-card>
